[buildout]                                                                      
develop = .
parts = interpreter test releaser
extends = http://grok.zope.org/releaseinfo/grok-1.1a1.cfg
versions = versions
newest = false


[versions]
dolmen.forms.crud = 0.3
megrok.z3cform.base = 0.2


[interpreter]
recipe = zc.recipe.egg
eggs = dolmen.app.search
interpreter = python


[test]
recipe = zc.recipe.testrunner
eggs = dolmen.app.search
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
